div{
    padding: 15px;
    
}

#box {
    box-shadow: 4px -4px 5px;
    margin-top: 20px;
    background-color: rgba(223, 236, 238, 0.904);
}


h1{
    font-weight: bold;
}

.circulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}