<div id="box"  class="container border border-white rounded-3" > 
  <div class="row border border-success border-5 rounded-pill ">
    <h1>APTITUDES </h1>
    </div>
    <div class="row">   
        <div class="col-md-4 col-sm-12 text-center">
            <circle-progress
            [percent]="100"
            [radius]="100"
            [title]="'Photoshop'"
            [titleFontSize]="'2em'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
            [showUnits]="false"
            [showSubtitle]="false"
          >
        </circle-progress>
        </div>

        <div class="col-md-4 col-sm-12 text-center">
          <circle-progress
            [percent]="95"
            [radius]="100"
            [title]="'Ilustrator'"
            [titleFontSize]="'2em'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
            [showUnits]="false"
            [showSubtitle]="false"
          ></circle-progress>
        </div>

        <div class="col-md-4 col-sm-12 text-center">
          <circle-progress
            [percent]="95"
            [radius]="100"
            [title]="'Fotografia'"
            [titleFontSize]="'2em'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
            [showUnits]="false"
            [showSubtitle]="false"
          ></circle-progress>
        </div>

        <div class="row">   
          <div class="col-md-4 col-sm-12 text-center">
              <circle-progress
              [percent]="85"
              [radius]="100"
              [title]="'HTML'"
              [titleFontSize]="'2em'"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'#78C000'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="800"
              [showUnits]="false"
              [showSubtitle]="false"
            >
          </circle-progress>
          </div>
  
          <div class="col-md-4 col-sm-12 text-center">
            <circle-progress
              [percent]="75"
              [radius]="100"
              [title]="'CSS'"
              [titleFontSize]="'2em'"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'#78C000'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="800"
              [showUnits]="false"
              [showSubtitle]="false"
            ></circle-progress>
          </div>
  
          <div class="col-md-4 col-sm-12 text-center">
            <circle-progress
              [percent]="75"
              [radius]="100"
              [title]="'ANGULAR'"
              [titleFontSize]="'2em'"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'#78C000'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="800"
              [showUnits]="false"
              [showSubtitle]="false"
            ></circle-progress>
          </div>
    </div>
</div>

